<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/hamster/hamster.swf?" width="200" height="170"><param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?"></param><param name="AllowScriptAccess" value="always"></param><param name="wmode" value="opaque"></param></object>
    </div>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('widget.recents') %></h3>
        <div class="widget">
            <ul id="recent-post" class="<%= (theme.customize.thumbnail?'':'no-thumbnail') %>">
                <% site.posts.sort('date', -1).limit(5).each(function(post) { %>
                    <li>
                        <div class="item-thumbnail">
                            <p class="item-category"><%- list_categories(post.categories, {show_count: false, depth:2, class: 'article-category', style: 'none', separator: '<i class="fa fa-angle-right"></i>'}) %></p>
                            <p class="item-title"><a href="<%- url_for((post.link?post.link:post.path)) %>" class="title"><%= post.title %></a></p>
                            <p class="item-date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>